<!DOCTYPE html>
<html>

<head>
  <title><%= content_for?(:html_title) ? yield(:html_title) : "EntranceWp" %></title>
  <%= csrf_meta_tags %>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= favicon_link_tag() %>
  <% if is_mypages_controller?%>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
    <%# <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"> %>
    <%= stylesheet_link_tag 'bootstrap.min.css' %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt"
      crossorigin="anonymous">
    <%= stylesheet_link_tag 'mypages/form' %>
    <%= stylesheet_link_tag 'mypages/customize.css?0715' %>
    <%= javascript_include_tag 'rails-ujs' %>
  <%else%>
    <%= javascript_include_tag 'application' %>
  <%end%>
  <%= stylesheet_link_tag 'flash' %>
  <%= stylesheet_link_tag 'animate.css' %>
</head>

<body>
  <%= render 'layouts/flash_msg' %>
  <%= yield %>
</body>

</html>